body {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	overflow: hidden;
}
* {
	box-sizing: border-box;
}


/****************************************************************************/
/* Top section                                                              */
/****************************************************************************/

#container {
    width:100%;
	background-color: #2196F3;
	height: 50px;
	display : flex;
}

#left {
	float:left;
	margin-left: 10px;
	margin-top: 5px;
	width:20%;
}

#center {
    display: inline-block;
    margin:0 auto;
    width: 60%;
	height: 20px;
	text-align: center;
}

#right {
    float:right;
	height: 20px;
	line-height: 50px;
	vertical-align: middle;
	margin-right: 10px;
	width:20%;
}

.top{
	width: 100%;
	height: 50px;
}

.title{
	display: inline;
}

.title p{
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
}

.selectdiv {
	position: relative;
	float: left;
	min-width: 200px;
}
  
.selectdiv:after {
	content: '\f078';
	font: normal normal normal 17px/1 FontAwesome;
	color: #0ebeff;
	right: 11px;
	top: 2px;
	height: 24px;
	padding: 15px 0px 0px 8px;
	border-left: 1px solid #0ebeff;
	position: absolute;
	pointer-events: none;
}

#centerOpenBt {
	position: absolute;
    left: -30px;
}
  
  /* IE11 hide native button (thanks Matt!) */
select::-ms-expand {
  display: none;
}
  
.selectdiv select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;	
	display: block;
	width: 100%;
	max-width: 320px;
	height: 40px;
	float: right;
	margin: 5px 0px;
	padding: 0px 24px;
	font-size: 16px;
	line-height: 1.75;
	color: #333;
	background-color: #ffffff;
	background-image: none;
	border: 1px solid #0ebeff;
	-ms-word-break: normal;
	word-break: normal;
}

/****************************************************************************/
/* Bottom section                                                           */
/****************************************************************************/

#info { 
    height: 20px; 
    position: fixed; 
    bottom:0%;
    width:100%; 
    background-color: #393838; 
    opacity: 1;
}

#color-picker {
    border: 3px solid rgba(15, 15, 15, 0.2);
    display:none;
	position: absolute;
	z-index: 5000;
}

/****************************************************************************/
/* SplashScreen & backgroundScreen                                          */
/****************************************************************************/

.backgroundScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    top: 0px;
    left: 0px;
    opacity: 0.7;
    filter: alpha(opacity=70);
	z-index: 12;
}

.splashScreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #2196F3;
    top: 0px;
    left: 0px;
	z-index: 15;
	transition: transform 1.5s;
}

.splashScreenTranslate {
	transform: translateY(1000px)
}

.splashScreenTitle{
	color: white;
	text-align: center;
	font-size: xxx-large;
	font-family : "Pacifico";
	margin-bottom: 5px;
	margin-top: auto;
}

.splashScreenText{
	color: white;
    font-size: x-large;
    line-height: 10px;
    text-align: center;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background-color: dodgerblue;
	overflow: hidden;
}
.headerstandard-inner h1{
	float: left;
}
.headerstandard-inner nav{
	position: absolute;
	float: right;
	margin-bottom: -10px;
}

/****************************************************************************/
/* Tile                                                                     */
/****************************************************************************/
.tile {
	position: absolute;
	z-index: 9;
	text-align: center;
}

.tileShadow {
	position: absolute;
	z-index: 8;
	background-color: #d4cece;
	border: 2px dashed #6e6565f8;
	text-align: center;
	display: none;
}

.tileHeader {
	padding: 10px;
	cursor: move;
	z-index: 10;
}

.resizable {
	background: white;
	position: absolute;
}
.resizable .resizers{
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
.resizable .resizers .resizer{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
	border: 3px solid #4286f4;
	position: absolute;
}
.resizable .resizers .resizer.top-left {
	left: -5px;
	top: -5px;
	cursor: nwse-resize;
}
.resizable .resizers .resizer.top-right {
	right: -5px;
	top: -5px;
	cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-left {
	left: -5px;
	bottom: -5px;
	cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
	right: -5px;
	bottom: -5px;
	cursor: nwse-resize;
}

/****************************************************************************/
/* Tile Toggle                                                              */
/****************************************************************************/

.buttons{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/****************************************************************************/
/* Context Menu                                                             */
/****************************************************************************/

.context-menu {
	display: none;
	min-width: 150px;
	position: fixed;
	z-index: 900;
	padding:5px 0;
	background: #fff;
    border: 1px solid #CCC;
	border-radius: 5px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, .4);
	font-weight: normal;
}
.context-menu.shown { display:block; }
.context-menu a {
	display: block;
	padding: 3px 16px;
	overflow: hidden;
	text-decoration: none;
	text-overflow: ellipsis;
	line-height: 16px;
	white-space: nowrap;
	font-size: 10.5pt;
	font-weight: normal;
	color: #333;
	cursor: default;
}
.context-menu a.bold { font-weight:bold; }
.context-menu a.disabled { color:#B7B7B7; }
.context-menu a:not(.disabled):hover {
	color: #FFF;
    background-color:#1D5DF3;
	background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#5f87f8), color-stop(100%,#1d5df3));
	background-image:linear-gradient(to bottom, #5f87f8 0%,#1d5df3 100%);
}
.context-menu a > img {
	float: left;
	margin-right: 5px;
	width: 16px;
	height: 16px;
	overflow: hidden;
}
.context-menu hr {
	border: 0;
	height: 1px;
	margin: 5px 1px;
	background: #EEE;
}

/****************************************************************************/
/* UI                                                                       */
/****************************************************************************/

.open-button {
	background-color: #555;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	position: fixed;
	bottom: 23px;
	right: 28px;
	width: 280px;
	z-index: 11;
}

/****************************************************************************/
/* Forms                                                                    */
/****************************************************************************/

.formTitle{
	background: white;
    padding: 10px;
    margin: 0;
}

.form-container {
	padding: 5px;
	background-color: white;
	width: initial;
}

.form-container input[type=text], .form-container input[type=password], .form-container select{
	width: 100%;
	padding: 5px;
	margin: 5px 0 10px 0;
	border: none;
	background: #f1f1f1;
	height:40px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus, .form-container input[type=select]:focus {
	background-color: #ddd;
	outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 100%;
	margin-bottom:10px;
	opacity: 0.8;
}
/* Add a red background color to the cancel button */
.form-container .cancel {
	background-color: red;
}
/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
	opacity: 1;
}

.form-popup{
    position: absolute;
    width: 800px;
    height: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
    display: none;
	flex-flow: column;
	border-radius: 10px;
    overflow: hidden;
}

.form-popup-2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
    display: none;
	flex-flow: column;
	border-radius: 10px;
	overflow: hidden;
	width : 360px;
}

.form-popup-3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 13;
    display: none;
    flex-flow: column;
    border-radius: 10px;
	overflow: hidden;
}

.formError{
	display: none;
	position: absolute;
    bottom: 15px;
    right: 10px;
}

.formError ul{
	color: crimson;
    border: 3px solid;
    margin: 5px;
    border-radius: 7px;
    padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
}

.formError2{
    bottom: 15px;
	right: 10px;
	display: none;
}

.formError2 ul{
	color: crimson;
    border: 3px solid;
    margin: 5px;
    border-radius: 7px;
    padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
}

.tabcontents{
	padding: 10px;
    background-color: #FFF;
    height: 100%;
}

.tabcontent{
	display: block;
	height: 100%;
    overflow: overlay;
}

ul.tabs{
	padding: 0px;
    margin: 0;
    list-style-type: none;
    display: flex;
}
ul.tabs li{
	width: -webkit-fill-available;
}
ul.tabs li a{
	font: normal 12px Verdana;
	text-decoration: none;
	z-index: 1;
	padding: 12px 15px;
	color: white;
	background: rgb(66, 60, 60);
	outline:none;
	display:block;
	text-align: center;
}
ul.tabs li a:hover{
	background:rgb(114, 111, 111);
}
ul.tabs li.selected a{
	font-weight:bold;
	background: #4286f4;
}

.headerTitle{
	font-weight: 800;
}

.headerTitle:after {
    content:' ';
    display:block;
	border:1.5px solid #d0d0d0;
	margin-bottom: 5px;
    border-radius:4px;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
}

#itemsTable{
	height: 250px;
    overflow: auto;
    display: block;
}

/* HIDE RADIO */
[type=radio] { 
	position: absolute;
	opacity: 0;
	width: 0;
	height: 0;
  }
  
 /* IMAGE STYLES */
 [type=radio] + img {
	cursor: pointer;
 }
  
 /* CHECKED STYLES */
 [type=radio]:checked + img {
	outline: 2px solid #f00;
 }